@font-face {
  font-family: 'Fira Code';
  src: url(/fonts/fira-code-regular.ttf);
}

* {
  font-family: 'Fira Code' !important;
}

:root {
  --ifm-color-primary: hsl(265, 100%, 60%);
  --ifm-color-primary-dark: hsl(265, 100%, 45%);
  --ifm-color-primary-darker: hsl(265, 100%, 30%);
  --ifm-color-primary-darkest: hsl(265, 100%, 15%);
  --ifm-color-primary-light: hsl(167, 56%, 54%);
  --ifm-color-primary-lighter: hsl(167, 56%, 62%);
  --ifm-color-primary-lightest: hsl(168, 56%, 73%);
  --ifm-code-font-size: 100%;
  --ifm-toc-border-color: hsl(0, 0%, 12%);
  --ifm-navbar-background-color: hsl(0, 0%, 3%);

  --warning-color: hsl(50, 100%, 50%);
  --warning-color-darkest: hsl(50, 100%, 15%);

  --danger-color: hsl(350, 100%, 60%);
  --danger-color-darkest: hsl(350, 100%, 15%);

  --border: 1px solid var(--ifm-toc-border-color);
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin-bottom: 20px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.docusaurus-highlight-code-line {
  background-color: hsla(0, 0%, 0%, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] {
  background: hsl(0, 0%, 3%);
  --ifm-color-emphasis-300: hsl(0, 0%, 12%);
  --ifm-code-background: hsl(0, 0%, 8%);
  --ifm-hr-border-color: hsl(0, 0%, 6%);

  code {
    background: var(--ifm-code-background);
  }

  .markdown {
    .alert--info {
      --ifm-alert-background-color: var(--ifm-color-primary-darkest);
      --ifm-alert-border-color: var(--ifm-color-primary);
    }

    .alert--warning {
      --ifm-alert-background-color: var(--warning-color-darkest);
      --ifm-alert-border-color: var(--warning-color);
    }

    .alert--danger {
      --ifm-alert-background-color: var(--danger-color-darkest);
      --ifm-alert-border-color: var(--danger-color);
    }

    img {
      border: var(--border);
      box-shadow: 0px 5px 20px 0px hsla(0, 0%, 0%, 0.8);
    }
  }

  .footer--dark {
    border-top: var(--border);
    --ifm-footer-background-color: hsl(0, 0%, 3%);
  }

  .navbar {
    border-bottom: var(--border);
  }

  .docusaurus-highlight-code-line {
    background-color: hsla(0, 0%, 0%, 0.3);
  }
}
